// Theme: boodark

// 1. Include any default variable overrides here
@import "variables";

// 2. Include Bootstrap
@import "bootstrap";

// 3. Include "phpMyAdmin" custom code
@import "root";
@import "tables";
@import "forms";
@import "common";
@import "ui-custom";
@import "enum-editor";
@import "gis";
@import "navigation";
@import "designer";
@import "codemirror";
@import "jqplot";
@import "icons";
@import "reboot";
@import "buttons";
@import "nav";
@import "navbar";
// @import "card";
@import "breadcrumb";
// @import "pagination";
// @import "alert";
@import "list-group";
@import "modal";
@import "console";
@import "settings";
@import "helpers";
@import "print";
