@media only screen and (min-width: 768px) {
  .table th.position-sticky {
    top: 85px;
  }
}

.table {
  vertical-align: middle;
}

th.draggable.position-sticky.column_heading.marker.pointer,
th.column_action.position-sticky.d-print-none {
  background-color: $white;
}
