.table {
	background-color: unset;
	// border: 1px solid $Color-Azure-300;
	// border-radius: 10px;

	th,
	td {
		text-shadow: 0 1px 0 #000;
		vertical-align: middle;
		padding: 0.1em 0.6em;
	}

	th {
		text-align: $direction-start;
	}

	td {
		touch-action: manipulation;
	}

	thead th {
		border-#{$direction-end}: 1px solid #fff;
		background-image: linear-gradient(#fff, #ccc);
	}
}

// .table-hover {
// 	tbody tr {
// 		@include hover() {
// 			background: linear-gradient(#ced6df, #b6c6d7);
// 		}
// 	}
// }

