









/* .group {

  }

  margin-bottom: 1em;
  padding-bottom: 1em;

  h2 {
    background-color: #9d50bb;
    padding: 0.1em 0.3em;
    margin-top: 0;
    color: #fff;
    font-size: 1.6em;
    font-weight: normal;
    text-shadow: 0 1px 0 #777;
    -moz-box-shadow: 1px 1px 15px #999 inset;
    -webkit-box-shadow: 1px 1px 15px #999 inset;
    box-shadow: 1px 1px 15px #999 inset;
  }
} */













