.btn,
.ui-button,
.btn-flat {
    border: $button-border;
    border-radius: $button-radius;
    display: inline-block;
    height: $button-height;
    // line-height: $button-height;
    padding: $button-padding;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent; // Gets rid of tap active state
    margin-left: 15px;
}

// Disabled shared style
.btn.disabled,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn-action.disabled,
.btn:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn-action:disabled,
.btn[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-action[disabled],
.btn-flat[disabled] {
    pointer-events: none;
    background-color: $button-disabled-background !important;
    box-shadow: none;
    color: $button-disabled-color !important;
    cursor: default;

    &:hover {
        background-color: $button-disabled-background !important;
        color: $button-disabled-color !important;
    }
}

// Shared icon styles
.btn,
.btn-floating,
.btn-large,
.btn-small,
.btn-action,
.btn-flat {
    font-size: $button-font-size;
    outline: 0;

    i {
        font-size: $button-icon-font-size;
        line-height: inherit;
    }
}

// Shared focus button style
.btn,
.btn-floating {
    &:focus {
        background-color: darken($button-raised-background, 10%);
    }
}

// Raised Button
.btn,
.ui-button {
    text-decoration: none;
    color: $button-raised-color;
    background-color: $button-raised-background;
    text-align: center;
    letter-spacing: .5px;
    @extend .z-depth-1;
    transition: background-color .2s ease-out;
    cursor: pointer;

    &:hover {
        background: $button-raised-background-hover;
        background-color: $button-raised-background-hover;
        color: white !important;
        border: none;
        @extend .z-depth-1-half;
    }
}

// Flat button
.btn-flat,
.btn-link {
    box-shadow: none;
    background-color: transparent;
    color: $button-flat-color;
    cursor: pointer;
    transition: background-color .2s;

    &:focus,
    &:hover {
        box-shadow: none;
    }

    &:focus {
        background-color: rgba(0, 0, 0, .1);
    }

    &.disabled,
    &.btn-flat[disabled] {
        background-color: transparent !important;
        color: $button-flat-disabled-color !important;
        cursor: default;
    }
}

.btn-lg {
    @extend .btn;
    height: $button-large-height;
    line-height: $button-large-height;
    font-size: $button-large-font-size;
    padding: 0 28px;

    i {
        font-size: $button-large-icon-font-size;
    }
}

.btn-sm {
    @extend .btn;
    height: $button-small-height;
    line-height: $button-small-height;
    font-size: $button-small-font-size;

    i {
        font-size: $button-small-icon-font-size;
    }
}

.btn-block {
    display: block;
    width: 100%;

    // Vertically space out multiple block buttons
    +.btn-block {
        margin-top: 5px;
    }
}

// ====

.sqlbutton,
#tablefieldinsertbuttoncontainer input[type=button] {
    margin-top: 1em;
    margin-left: 0 !important;
    margin-right: 14px !important
}

button {
    display: inline
}

button,
img {
    vertical-align: middle
}

button.mult_submit {
    border: none;
    background-color: transparent;
    color: $browse-pointer-color;
    margin: 0
}